* {
	font-family: system-ui, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: lightblue;
	padding: 1rem;
}

footer {
	background-color: lightblue;
	padding: 1rem;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

.nav {
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	gap: 2rem;

	& > * {
		align-self: center;
	}

	a {
		text-decoration: none;
		color: black;
		font-size: 1.1rem;
		&:hover {
			color: rgb(90, 90, 202);
			text-decoration: underline;
		}
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	gap: 1rem;
}

.card {
	flex: 1 1 250px;
	max-width: calc(1280px / 4 - 1rem);
	text-align: center;
	border: 2px dashed black;
	border-radius: 10px;
	padding: 1rem;

	a {
		text-decoration: none;
		color: black;
	}

	img {
		height: 300px;
	}

	.movie-title {
		font-size: 2rem;
		font-weight: 700;
	}
}

.movie-detail {
	margin: 2rem auto;
	display: flex;
	max-width: 900px;
	gap: 2rem;

	img {
		height: 600px;
	}

	.movie-body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.movie-title {
		margin: 3rem 0;
		padding: 0.5rem;
		font-size: 2.5rem;
		text-align: center;
		border: 2px dashed black;
		border-radius: 10px;
	}

	.movie-reviews {
		padding: 1rem 0;
	}
}

.reviews {
	list-style: none;

	.review {
		margin: 1rem 0;
		border: 1px dashed black;
		border-radius: 10px;
		padding: 0.9rem;
	}
}
